@using WebForum.Frontend.Services.Interfaces
@inject IAuthService AuthService
@inject NavigationManager Navigation

<Fluxor.Blazor.Web.StoreInitializer/>

<Router AppAssembly="@typeof(App).Assembly"
        OnNavigateAsync="OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{

    private readonly string[] _noAuthPages = ["signin", "signup"];

    private async Task OnNavigateAsync(NavigationContext context)
    {
        if (IsAuthNeed(context.Path) && !await AuthService.IsLogin(default))
        {
            Navigation.NavigateTo("signin");
        }
    }

    private bool IsAuthNeed(string path)
    {
        foreach (var noAuthPage in _noAuthPages)
        {
            if (string.Compare(path, noAuthPage, StringComparison.Ordinal) == 0)
            {
                return false;
            }
        }

        return true;
    }

}