@using Fluxor
@using WebForum.Frontend.States.AuthState

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<AuthState> AuthState
@inject NavigationManager Navigation

<Fluxor.Blazor.Web.StoreInitializer/>

<Router AppAssembly="@typeof(App).Assembly"
        OnNavigateAsync="OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{

    private readonly string[] noAuthPages = { "signin", "signup" };

    private Task OnNavigateAsync(NavigationContext context)
    {
        Console.WriteLine(context.Path);
        if (IsAuthNeed(context.Path) && !AuthState.Value.IsLogInEnd())
        {
            Navigation.NavigateTo("signin");
        }

        return Task.CompletedTask;
    }

    private bool IsAuthNeed(string path)
    {
        foreach (var noAuthPage in noAuthPages)
        {
            if (string.Compare(path, noAuthPage, StringComparison.Ordinal) == 0)
            {
                return false;
            }
        }

        return true;
    }

}