@using Fluxor
@using WebForum.Frontend.States.AuthState
@using WebForum.Frontend.States.AuthState.Actions

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<AuthState> AuthState
@inject NavigationManager Navigation

<Fluxor.Blazor.Web.StoreInitializer/>

<Router AppAssembly="@typeof(App).Assembly"
        OnNavigateAsync="OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{

    private async Task OnNavigateAsync(NavigationContext context)
    {
        if (!(context.Path.StartsWith("login") || context.Path.StartsWith("registration"))
            && AuthState.Value.Status != AuthStatus.LogIn)
        {
            Navigation.NavigateTo("login");
        }
    }

}